<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
  <config>
    <!-- Disable prerelease packages by default -->
    <add key="allowPrereleaseVersions" value="false" />
    
    <!-- Ensure deterministic builds -->
    <add key="signatureValidationMode" value="accept" />
    
    <!-- Disable telemetry -->
    <add key="disableSourceControlIntegration" value="true" />
  </config>
  
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  
  <bindingRedirects>
    <add key="skip" value="false" />
  </bindingRedirects>
  
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="false" />
  </packageManagement>
</configuration>
